body {
    background: url('/assets/tausta.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.humidity {
    margin: 0 auto;
    background: #fff;
    width: 1000px;
    padding: 20px 0 0;
    text-align: center;

    h1 {
        margin: 0 0 30px;
        text-align: center;
        font-family: 'Oswald';
        font-size: 42px;
    }

    img {
        max-width: 60%;
        padding: 10px;
    }
}

.md-padding {
    padding: 0;
}